body {
  font-family: 'Open Sans';

  // transform: translate3d(0,0,0);
  // transition: all .3s;
}

a {
  color: #dd3535;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #982f2f;
}

header {
}

nav {
  margin: 10px 0;
  a {
    padding-right: 10px;
  }
}


.layout {
  padding: 10px;
  h1 {
    font-size: 1.2em;
  }
}

.ServerBrowser {
  width: 800px;
  text-align: left;
  
  tr {
    height: 50px;
  }
}

#ServerBrowserStatus {
  width: 50px;
}

.ServerBrowserItem {
  padding: 10px;
}


.ProfileLayout {
  
}


.MessageLayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;

  background-color: #FBFBFB;

  min-height: 500px;

  max-width: 1000px;
}

.ConversationList {
  flex: 1;
  min-width: 160px;
  max-width: 250px;

  background-color: #F7F7F7;
}

.ConversationListItem {
  background-color: #F9F9F9;
  min-height: 50px;
  margin: 10px;
}


.Conversation {
  order: 1;
  flex: 2;
  
  // min-width: 510px;
  margin: 10px;
}