html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a {
  color: #dd3535;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #982f2f;
}

header h1 {
  font-weight: 600;
  font-size: 2rem;
}

nav {
  margin: 10px 0;
}

nav a {
  padding-right: 10px;
}

h1, h2, h3 {
  font-family: 'Open Sans';
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1.1em;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}

.layout {
  padding: 10px;
}

.ServerBrowser {
  width: 800px;
  text-align: left;
}

.ServerBrowser tr {
  height: 50px;
}

#ServerBrowserStatus {
  width: 50px;
}

.ServerBrowserItem {
  padding: 10px;
}

.MessageLayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;
  background-color: #FBFBFB;
  min-height: 500px;
  max-width: 1000px;
}

.ConversationList {
  flex: 1;
  min-width: 160px;
  max-width: 250px;
  background-color: #F7F7F7;
}

.ConversationListItem {
  background-color: #F9F9F9;
  min-height: 50px;
  margin: 10px;
}

.Conversation {
  order: 1;
  flex: 2;
  margin: 10px;
}
